body{
    background-color: black !important;
    color: white !important;
}

.nGY2GThumbnailCustomLayer{
    border: none;
}

.nGY2Navigationbar {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px 0 20px 0 !important;

}

.nanogallery_gallerytheme_dark_my-gallery .nGY2GThumbnail{
    background-color: black !important;
}


#gallery-search{
    background-color:rgb(7, 7, 7) !important;
    border: 1px solid rgb(90, 90, 90);
    padding: 10px 15px;
    border-radius: 20px;
    color: rgb(212, 212, 212);
}

/* .nGY2NavFilterSelectAll{
    display: none !important;
} */

.nGY2NavigationbarItem{
    border-radius: 15px !important;
    padding: 5px 20px !important;
    border: 1px solid rgb(90, 90, 90);
}

.nGY2Icon-circle-empty{
    display: none !important;

}

.nGY2Icon-ok{
    display: none !important;
}

.nGY2NavFilterSelected{
    background-color:rgb(19, 19, 19) !important;
    border: 1px solid white;
}



.about-button{
    border-radius: 15px !important;
    padding: 5px 20px !important;
    border: 1px solid rgb(90, 90, 90) !important;
    background-color: rgb(10, 10, 10) !important;
    color: white !important;
}

.filter-button {
    border-radius: 20px !important;
    padding: 10px 20px !important;
    border: 1px solid rgb(90, 90, 90) !important;
    background-color: rgb(10, 10, 10) !important;
    color: white !important;
    margin: 10px !important;
}

.search-bar{
    margin: 10px !important;
    width: 400px !important;
}


.mystyle{
    display: block;
}

#filter-bar {
    display: none;
    padding-top: 20px;
}

.offcanvas {
    z-index: 9999 !important;
}
.offcanvas-backdrop {
    z-index: 9998 !important;
}

.nGY2Viewer {
    z-index: 999 !important;
}


.offcanvas.offcanvas-bottom{
    font-size: 12px;
    height: 110px !important;
    width: 100% !important;
    bottom: 50px !important;
    top:unset !important;
    background-color: rgba(0, 0, 0, 0.596);
    color: white;
}

.offcanvas.offcanvas-bottom p{
    color: rgb(194, 194, 194) !important;
}

.offcanvas-body p{
    margin: 0 !important;
}

.offcanvas-body hr{
    margin-bottom:  10px !important;
    margin-top:  10px !important;
}

.list-unstyled{
    margin-bottom: 0;
}

/* :fullscreen .nGY2viewerGallery {
    display: none !important;
} */

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}


.logo{
    height: 100px;
}

@media (max-width: 768px) {
    .main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .logo {
    position: relative;
    height: 100px;
    width: 100px;
    padding-top: 20px;
    }

    .buttons-container{
        padding-top: 20px;

    }
    .about-button{
        margin-bottom: 5px;
    }

    /* .nGY2ViewerMedia {
        width: 300px !important;
        height: auto !important;
    } */

    .toolbarContainer {
        bottom: unset !important;
        top: 70px !important;

    }

    .offcanvas.offcanvas-bottom{
    height: 180px !important;

    }

}



.nGY2ViewerMedia{
    max-width: 800px !important;
    max-height: 500px !important;
}

.toolbarContainer .nGEvent{
    bottom: unset !important;
}
.toolbarContainer {
    bottom: unset !important;
    top: 25px;

}

.nGY2 .toolbarBackground{
    background: none !important;
}

.description{
    display: none !important;
}

